//sass --watch C:\xampp\htdocs\rota-nordeste\-Rota_Nordeste_Voo\scss:C:\xampp\htdocs\rota-nordeste\-Rota_Nordeste_Voo\css

:root {
    --azul: #09c;
    --branco: #fff;
    --cinza: #f4f6f7;
    --laranja: #fc6c36;

    --transicao: 4ms;
}

#voos {
    width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto 16px;

    @media (max-width: 1000px){
        width: 100%;
    }

    .voo {
        background: var(--cinza);
        display: flex;
        border-radius: .5rem;        
        flex-wrap: wrap;
        @media (max-width: 1000px){
            width: 100%;
            border-radius: 0;
        }
        @media (max-width: 500px){
            flex-direction: column;

            .coluna2 {
                border-top: 1px solid #ddd;
            }
        }

        .coluna1 {
            flex: 5;
            display: flex;
            flex-direction: column;
            border-right: 1px solid #ddd;
            
            .dados {
                display: flex;
                flex-wrap: wrap;
                border-bottom: 1px solid #ddd;
                padding: 0.5rem;
                gap: 8px;

                .item {
                    flex: 1 0 150px;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 8px;
                    
                    @media (max-width: 801px){
                        border-bottom: 1px solid #ddd;
                        &:nth-child(4){
                            border-bottom: none;
                        }
                    }
                    @media (max-width: 483px){
                        &:nth-child(3){
                            border-bottom: none;
                        }
                    }
                    @media (max-width: 611px) and (min-width: 500px){
                        &:nth-child(3){
                            border-bottom: none;
                        }
                    }
                }
                .item:nth-child(1) {
                    gap: 0.5rem;
                }
                .item:nth-child(2),
                .item:nth-child(3) {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                }
        

            }
            .link{
                display: flex;
                padding: .5rem;

                .oferta {
                    padding: .5rem 1rem;
                    background: var(--azul);
                    color: var(--branco);
                    border-radius: 1rem;
                    animation: oferta 1s infinite ease;
                }
                @keyframes oferta {
                    0%,
                    100% {
                        background: var(--azul);
                    }
                    50% {
                        background: var(--laranja);
                    }
                }
            }
        }
        .coluna2 {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1rem;
            gap: .5rem;

            .preco {
                color: #aaa;

                .valor {
                    font-size: 1.5rem;
                    color: var(--laranja);
                    font-weight: 600;
                }
            }
            .botao {
                width: 100px;
                text-align: center;
            }
        }
    }
}