//sass --watch C:\xampp\htdocs\rota-nordeste\-Rota_Nordeste_Voo\scss:C:\xampp\htdocs\rota-nordeste\-Rota_Nordeste_Voo\css

:root {
    --azul: #09c;
    --branco: #fff;
    --cinza: #f4f6f7;
    --laranja: #fc6c36;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 1000px;
    display: flex;
    padding: 1rem;
    margin: 0 auto;

    @media (max-width: 1000px){
        width: 100%;
        flex-direction: column;
    }

    #logo {
        display: flex;
        width: 300px;

        img {
            width: 300px;
        }
        @media (max-width: 1000px){
            margin: 0 auto;
        }
    }

    nav {
        display: flex;
        align-items: center;
        background: var(--branco);
        margin-left: auto;

        @media (max-width: 1000px){
            margin: 16px auto 0 auto;
        }
        
        a {
            text-decoration: none;
            font-weight: 600;
            text-transform: uppercase;
            padding: 10px;
            color: var(--laranja);
        }
    }
}

#rotas {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: var(--azul);
    border-bottom: 5px solid var(--laranja);

    .conteudo {
        width: 1000px;
        display: flex;
        justify-content: center;
        padding: 12px;
        gap: 16px;
        flex-wrap: wrap;

        @media (max-width: 916px){
            gap: 8px;
        }

        .bloco {
            display: flex;
            justify-content: center;
            background: var(--branco);
            border-radius: 8px;
            padding: 2px 12px;
    
            .item {
                display: flex;
                align-items: center;
                padding: 4px;
                gap: 8px;

                @media (max-width: 540px){
                    flex-direction: column;
                    align-items: start;
                    gap: 4px;
                }
        
                label {
                    text-wrap: nowrap;
                    color: var(--azul);
                    font-size: 14px;
                    font-weight: 600;
                    padding-left: 4px;
                }
                input,
                select {
                    padding: 7px;
                    font-size: .9rem;
                    border-radius: 8px;
                    outline: none;
                    border: 1px solid var(--azul);
                }
            }
        }
    }
}

footer {
    display: flex;
    margin-top: auto;
    background-color: var(--azul);
    border-top: 5px solid var(--laranja);

    #rodape {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 10px;
        
        p{
        font-size: 0.9rem;
        color: var(--branco);
        padding: 10px;
        }
    }
}

.tit-pag {
    width: 1000px;
    display: flex;
    margin: 1rem auto;
    padding: .5rem;
    background: var(--azul);
    color: var(--branco);
    border-radius: .25rem;

    @media (max-width: 1000px){
        width: 100%;
        border-radius: 0;
        font-size: 1.5rem;
    }
}

// GLOBAL
.botao {
    display: inline-flex;
    padding: 0.5rem 1rem;
    background: var(--laranja);
    color: var(--branco);
    text-decoration: none;
    margin-top: 0.5rem;
    border-radius: 1rem;
    transition: .5s;

    &:hover {
        background: var(--azul);
    }
}
